.App {
  text-align: center;
  margin-top: 150px;

}
.col-md-8{
  border-right: 1px solid black;
  height: 500px;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.col-md-4{
  border-left: 1px solid black;
  height: 500px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.bright{
  filter: brightness(200%);
}
.picture{
  position: relative;
  margin-top: 30px;
  height: 500px;
  width: 700px;
}